
    <div class="col-md-12 col-mobile phoneHeading">
        <h3>
            <span class="glyphicon glyphicon-check"></span> Your Quote Summary
        </h3>
    </div>
<div class="row">
    <div class="row">
        <div class="col-md-12 col-mobile">
            <p>Once you have reviewed your quote click the Submit button at the bottom to finalise your quote</p>
        </div>


        <div class="col-md-12 col-mobile summarySection">
            <div ng-if="DisplayBankTransfer()">
                <h3>
                    <span class="glyphicon glyphicon-usd"></span>  You will be paid a total amount of <span class="green">{{quote.TotalAmount | currency}}</span> into your <span class="green">
                        bank account
                    </span>.
                </h3>
                <p>
                    BSB: {{customer.bsb || 'Please enter your BSB'}} <br />
                    Account Number: {{customer.accountNum || 'Please enter your Account Number'}}
                </p>
            </div>

            <div ng-if="DisplayPaypal()">
                <h3>
                    <span class="glyphicon glyphicon-usd"></span>  You will be paid a total amount of <span class="green">{{quote.TotalAmount | currency}}</span> into your <span class="green">Paypal Account</span>.
                </h3>
                <p>
                    Account: {{customer.paypalEmail || 'Please enter your Paypal Account Email'}}
                </p>
            </div>

            <div ng-if="DoesQuoteContainApple()">
                <h3>
                    <span class="fa fa-exclamation-triangle"></span>   All Apple devices must have 'Find my iPhone' removed before sending. Please see the <a rel="nofollow" href="https://support.apple.com/kb/PH2702?locale=en_US" target="_blank">Apple website</a> for instructions.
                </h3>
            </div>

            <div>
                <h3>
                    <span class="glyphicon glyphicon-envelope"></span>  We will email you all postage details after Submit.
                </h3>
            </div>
            <div class="row">
                <div class="col-md-5 col-md-offset-7 col-lg-4 col-lg-offset-8">
                    <button class="btn btn-default next-btn"
                            ng-click="FinaliseQuote(customer, quote)"
                            type="submit"
                            analytics-on="click"
                            analytics-category="QuoteProcess"
                            analytics-event="SubmitBtnClick">
                        Submit <i class="fa fa-paper-plane-o"></i>
                    </button>
                    <div class="col-md-12 col-mobile">
                        <p class="tc">
                            <i class="fa fa-hand-o-right"></i> By clicking Submit you agree to the <a target="_blank" href="/TermsAndConditions">Terms and Conditions</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>
