<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <appSettings>
    <add key="QuerySendToEmail" value="support@tradeyourphone.com.au" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AlertSendToEmail" value="technicalfaults@tradeyourphone.com.au" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AlertSendFromEmail" value="technicalfaults@tradeyourphone.com.au" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SalesEmail" value="sales@tradeyourphone.com.au" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>
