<h2>Details</h2>
<p>
    <a href="/Quotes">Back To List</a>
</p>
<span ng-show="spinner"><i class="loading fa fa-cog fa-spin"></i></span>
<div ng-class="{'content-loading':spinner}">
    <div class="row">
        <div class="col-md-3">
            <h4>Quote</h4>
            <hr />
            <div class="form-group">
                <label class="control-label">Quote Status</label>
                <select ng-model="quoteDetailsViewModel.Quote.QuoteStatusId"
                        id="status"
                        name="status"
                        ng-options="item.ID as item.Name for item in quoteDetailsViewModel.QuoteStatuses"
                        class="form-control"></select>
            </div>

            <div class="form-group">
                <label class="control-label">Postage Method</label>
                <select ng-model="quoteDetailsViewModel.Quote.PostageMethodId"
                        id="status"
                        name="status"
                        ng-options="item.Id as item.PostageMethodName for item in quoteDetailsViewModel.PostageMethods"
                        class="form-control"></select>
            </div>

            <div class="form-group">
                <label class="control-label">Quote Reference ID</label>
                <p class="form-control-static">
                    {{quoteDetailsViewModel.Quote.QuoteReferenceId}}
                </p>
            </div>

            <div class="form-group">
                <label class="control-label">Created Date</label>
                <p class="form-control-static">
                    {{quoteDetailsViewModel.Quote.CreatedDate}}
                </p>
            </div>

            <div class="form-group">
                <label class="control-label">Finalised Date</label>
                <p class="form-control-static">
                    {{quoteDetailsViewModel.Quote.QuoteFinalisedDate}}
                </p>
            </div>

            <div class="form-group">
                <label class="control-label">Expiry Date</label>
                <p class="form-control-static">
                    {{quoteDetailsViewModel.Quote.QuoteExpiryDate}}
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <h4>Customer</h4>
            <hr />
            <div class="form-group">
                <label class="control-label">First Name</label>
                <input type="text"
                       id="FirstName"
                       ng-model="quoteDetailsViewModel.Quote.Customer.FirstName"
                       name="FirstName"
                       class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label">Last Name</label>
                <input type="text"
                       id="LastName"
                       ng-model="quoteDetailsViewModel.Quote.Customer.LastName"
                       name="LastName"
                       class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label">Email</label>
                <input type="email"
                       id="Email"
                       ng-model="quoteDetailsViewModel.Quote.Customer.Email"
                       name="Email"
                       class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label">Phone Number</label>
                <input type="text"
                       id="PhoneNumber"
                       ng-model="quoteDetailsViewModel.Quote.Customer.PhoneNumber"
                       name="PhoneNumber"
                       class="form-control" />
            </div>
        </div>
        <div class="col-md-3">
            <h4>Address</h4>
            <hr />
            <div class="form-group">
                <label class="control-label">Address Line 1</label>
                <input type="text"
                       id="AddressLine1"
                       ng-model="quoteDetailsViewModel.Quote.Customer.Address.AddressLine1"
                       name="AddressLine1"
                       class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label">Address Line 2</label>
                <input type="text"
                       id="AddressLine2"
                       ng-model="quoteDetailsViewModel.Quote.Customer.Address.AddressLine2"
                       name="AddressLine2"
                       class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label">State</label>
                <select ng-model="quoteDetailsViewModel.Quote.Customer.Address.StateId"
                        id="StateId"
                        name="StateId"
                        ng-options="item.ID as item.StateNameShort for item in quoteDetailsViewModel.States"
                        class="form-control"></select>
            </div>

            <div class="form-group">
                <label class="control-label">Post Code</label>
                <input type="text"
                       id="PostCode"
                       ng-model="quoteDetailsViewModel.Quote.Customer.Address.PostCode"
                       name="PostCode"
                       class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label">Country</label>
                <select ng-model="quoteDetailsViewModel.Quote.Customer.Address.CountryId"
                        id="CountryId"
                        name="CountryId"
                        ng-options="item.ID as item.CountryName for item in quoteDetailsViewModel.Countries"
                        class="form-control"></select>
            </div>
        </div>
        <div class="col-md-3">
            <h4>Payment Details</h4>
            <hr />
            <div class="form-group">
                <label class="control-label">Payment Type</label>
                <select ng-model="quoteDetailsViewModel.Quote.Customer.PaymentDetail.PaymentTypeId"
                        id="PaymentTypeId"
                        name="PaymentTypeId"
                        ng-options="item.ID as item.PaymentTypeName for item in quoteDetailsViewModel.PaymentTypes"
                        class="form-control"></select>
            </div>

            <div class="form-group">
                <label class="control-label">BSB</label>
                <input type="text"
                       id="BSB"
                       ng-model="quoteDetailsViewModel.Quote.Customer.PaymentDetail.BSB"
                       name="BSB"
                       class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label">Account Number</label>
                <input type="text"
                       id="AccountNumber"
                       ng-model="quoteDetailsViewModel.Quote.Customer.PaymentDetail.AccountNumber"
                       name="AccountNumber"
                       class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label">Paypal Email</label>
                <input type="text"
                       id="PaypalEmail"
                       ng-model="quoteDetailsViewModel.Quote.Customer.PaymentDetail.PaypalEmail"
                       name="PaypalEmail"
                       class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">Notes</label>
                    <br />
                    <textarea type="text"
                              id="PaypalEmail"
                              ng-model="quoteDetailsViewModel.Quote.Notes"
                              name="PaypalEmail"
                              class="form-control quote-notes"
                              cols="80"
                              rows="5" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>Phones</h4>
                <hr />
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><label class="control-label">ID</label></th>
                                <th><label class="control-label">Status</label></th>
                                <th><label class="control-label">Phone Make</label></th>
                                <th><label class="control-label">Phone Model</label></th>
                                <th><label class="control-label">Condition</label></th>
                                <th><label class="control-label">IMEI</label></th>
                                <th><label class="control-label">Purchase Price</label></th>
                                <th><label class="control-label">Sale Price</label></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="phone in quoteDetailsViewModel.Quote.Phones">
                                <td>
                                    <a ng-href="/Phone/{{phone.Id}}">{{phone.Id}}</a>
                                </td>
                                <td>
                                    <select ng-model="phone.PhoneStatusId"
                                            id="PhoneStatusId"
                                            name="PhoneStatusId"
                                            ng-options="item.ID as item.Name for item in quoteDetailsViewModel.PhoneStatuses"
                                            class="form-control"></select>
                                </td>
                                <td>
                                    <select ng-model="phone.PhoneMakeId"
                                            id="PhoneMakeId"
                                            name="PhoneMakeId"
                                            ng-options="item.ID as item.Name for item in quoteDetailsViewModel.PhoneMakes"
                                            class="form-control"></select>
                                </td>

                                <td>
                                    <select ng-model="phone.PhoneModelId"
                                            id="PhoneModelId"
                                            name="PhoneModelId"
                                            ng-options="item.ID as item.Name for item in quoteDetailsViewModel.PhoneModels"
                                            class="form-control"></select>
                                </td>

                                <td>
                                    <select ng-model="phone.PhoneConditionId"
                                            id="PhoneConditionId"
                                            name="PhoneConditionId"
                                            ng-options="item.ID as item.Name for item in quoteDetailsViewModel.Conditions"
                                            class="form-control"></select>
                                </td>

                                <td>
                                    <input type="text"
                                           id="IMEI"
                                           ng-model="phone.IMEI"
                                           name="IMEI"
                                           class="form-control" />
                                </td>

                                <td>
                                    <input type="text"
                                           id="PurchaseAmount"
                                           ng-model="phone.PurchaseAmount"
                                           name="PurchaseAmount"
                                           class="form-control" />
                                </td>

                                <td>
                                    <input type="text"
                                           id="SaleAmount"
                                           ng-model="phone.SaleAmount"
                                           name="SaleAmount"
                                           class="form-control" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <br />
                <input type="submit" value="Save" class="btn btn-default" ng-click="SaveQuoteDetails(quoteDetailsViewModel.Quote)" />
                <span ng-show="result">{{result}}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Quote Status History</h4>
            <hr />
            <table class="table">
                <thead>
                    <tr>
                        <th><label class="control-label">Status Date</label></th>
                        <th><label class="control-label">Status</label></th>
                        <th><label class="control-label">Created By</label></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="quoteHistory in quoteDetailsViewModel.Quote.QuoteStatusHistories">
                        <td>
                            <span>{{quoteHistory.StatusDate}}</span>
                        </td>
                        <td>
                            <span>{{quoteHistory.QuoteStatus}}</span>
                        </td>
                        <td>
                            <span>{{quoteHistory.CreatedBy}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
