<form name="details" novalidate>
    <div class="visible-xs">
        <h3 class="centre">Enter Your Details</h3>
        <hr />
    </div>
        <div class="row tab-padding">
            <p class="details-text">
                <b>Congratulations! </b> <br class="visible-xs" /><br class="visible-xs" />
                You are almost ready to trade your phone. <br /><br class="visible-xs"/>
                To sell your phone we need a few details from you, like who you are, your address for ID purposes and your payment info so we can pay you for your phone.
            </p>
            <div class="col-md-4 col-mobile details">
                <h3>Personal Details</h3>

                <div class="form-group"
                     ng-class="{'has-error':detailsFormSubmitted && details.fullName.$invalid}">

                    <label for="fullName">Full Name</label>
                    <input type="text"
                           id="fullName"
                           ng-model="customer.fullname"
                           ng-blur="fireFieldEvent('fullName')"
                           name="fullName"
                           class="form-control"
                           placeholder="FirstName LastName"
                           required />

                    <p class="help-block"
                       ng-show="detailsFormSubmitted && details.fullName.$error.required">
                        <i class="glyphicon glyphicon-remove-circle"></i>  Your full name is required
                    </p>
                </div>
                <div class="form-group"
                     ng-class="{'has-error':detailsFormSubmitted && details.email.$invalid}">

                    <label for="email">Email</label>
                    <input type="email"
                           id="email"
                           ng-model="customer.email"
                           ng-blur="fireFieldEvent('email')"
                           name="email"
                           class="form-control"
                           placeholder="example@gmail.com"
                           required />

                    <p class="help-block" ng-show="detailsFormSubmitted && details.email.$error.required">
                        <i class="glyphicon glyphicon-remove-circle"></i>  Email is required
                    </p>
                    <p class="help-block" ng-show="detailsFormSubmitted && details.email.$error.email && !details.email.$error.required">
                        <i class="glyphicon glyphicon-remove-circle"></i>  Please enter a valid email
                    </p>
                </div>

                <div class="form-group"
                     ng-class="{'has-error': detailsFormSubmitted && details.mobile.$invalid}">

                    <label for="mobile">Mobile Phone Number</label>
                    <input type="text"
                           id="mobile"
                           ng-model="customer.mobile"
                           ng-blur="fireFieldEvent('mobileNumber')"
                           name="mobile"
                           class="form-control"
                           placeholder="04XX XXX XXX"
                           ng-maxlength="12"
                           ng-minlength="10"
                           ng-pattern="numberwithSpacesPattern"
                           required />

                    <p class="help-block" ng-show="detailsFormSubmitted && details.mobile.$error.required">
                        <i class="glyphicon glyphicon-remove-circle"></i>  Mobile is required
                    </p>

                    <p class="help-block" ng-show="detailsFormSubmitted && details.mobile.$invalid && !details.mobile.$error.required">
                        <i class="glyphicon glyphicon-remove-circle"></i> Please enter a valid mobile number
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-mobile details">
                <h3>Personal Address Details</h3>

                <div class="form-group"
                     ng-class="{'has-error':detailsFormSubmitted && details.street.$invalid}">

                    <label for="street">Street Address</label>
                    <input type="text"
                           id="street"
                           ng-model="customer.postageStreet"
                           ng-blur="fireFieldEvent('postageStreet')"
                           class="form-control"
                           name="street"
                           placeholder="1 Example Lane"
                           required />

                    <p class="help-block" ng-show="detailsFormSubmitted && details.street.$error.required">
                        <i class="glyphicon glyphicon-remove-circle"></i>  Street is required
                    </p>
                </div>

                <div class="form-group"
                     ng-class="{'has-error':detailsFormSubmitted && details.suburb.$invalid}">

                    <label for="suburb">Suburb/City</label>
                    <input type="text"
                           id="suburb"
                           ng-model="customer.postageSuburb"
                           ng-blur="fireFieldEvent('postageSuburb')"
                           class="form-control"
                           name="suburb"
                           placeholder="Melbourne"
                           required />
                    <p class="help-block" ng-show="detailsFormSubmitted && details.suburb.$error.required">
                        <i class="glyphicon glyphicon-remove-circle"></i>  Suburb is required
                    </p>
                </div>
                <div class="row">
                    <div class="form-group col-md-6"
                         ng-class="{'has-error':detailsFormSubmitted && details.state.$invalid}">

                        <label for="state">State</label>
                        <select ng-model="customer.postageState"
                                ng-blur="fireFieldEvent('postageState')"
                                id="state"
                                name="state"
                                ng-options="state.StateNameShort for state in states track by state.ID"
                                class="form-control"
                                required></select>

                        <p class="help-block" ng-show="detailsFormSubmitted && details.state.$error.required">
                            <i class="glyphicon glyphicon-remove-circle"></i>  State is required
                        </p>
                    </div>

                    <div class="form-group col-md-6"
                         ng-class="{'has-error':detailsFormSubmitted && details.postcode.$invalid}">

                        <label for="postcode">Postcode</label>
                        <input type="text"
                               id="postcode"
                               ng-model="customer.postagePostcode"
                               ng-blur="fireFieldEvent('postagePostcode')"
                               name="postcode"
                               class="form-control"
                               placeholder="3000"
                               ng-maxlength="4"
                               ng-minlength="4"
                               ng-pattern="onlyNumbersPattern"
                               required />

                        <p class="help-block" ng-show="detailsFormSubmitted && details.postcode.$error.required">
                            <i class="glyphicon glyphicon-remove-circle"></i>  Postcode is required
                        </p>
                        <p class="help-block" ng-show="detailsFormSubmitted && details.postcode.$invalid && !details.postcode.$error.required">
                            <i class="glyphicon glyphicon-remove-circle"></i>  Please enter a valid postcode
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-mobile details">
                <h3>Payment Details</h3>

                <div class="form-group"
                     ng-class="{'has-error':detailsFormSubmitted && details.paymentType.$invalid}">
                    
                    <label for="paymentType">Payment Type</label>
                    <select ng-model="customer.paymentType"
                            ng-blur="fireFieldEvent('paymentType')"
                            id="paymentType"
                            name="paymentType"
                            ng-options="paymentType.PaymentTypeName for paymentType in paymentTypes track by paymentType.ID"
                            class="form-control"
                            required></select>

                    <p class="help-block" ng-show="detailsFormSubmitted && details.paymentType.$error.required">
                        <i class="glyphicon glyphicon-remove-circle"></i>  Payment type is required
                    </p>

                </div>
                <div class="row">
                    <div class="form-group col-md-4"
                         ng-if="DisplayBankTransfer()"
                         ng-class="{'has-error':detailsFormSubmitted && details.bsb.$invalid}">

                        <label for="bsb">BSB</label>
                        <input type="text"
                               id="bsb"
                               ng-model="customer.bsb"
                               ng-blur="fireFieldEvent('bsb')"
                               name="bsb"
                               class="form-control"
                               ng-maxlength="6"
                               ng-minlength="6"
                               ng-pattern="numberwithSpacesPattern"
                               required />

                        <p class="help-block" ng-show="detailsFormSubmitted && details.bsb.$error.required">
                            <i class="glyphicon glyphicon-remove-circle"></i>  BSB is required
                        </p>
                        <p class="help-block" ng-show="detailsFormSubmitted && details.bsb.$invalid && !details.bsb.$error.required">
                            <i class="glyphicon glyphicon-remove-circle"></i>  Please enter a valid BSB
                        </p>
                    </div>

                    <div class="form-group col-md-8"
                         ng-if="DisplayBankTransfer()"
                         ng-class="{'has-error':detailsFormSubmitted && details.acctNum.$invalid}">

                        <label for="acctNum">Account Number</label>
                        <input type="text"
                               id="acctNum"
                               ng-model="customer.accountNum"
                               ng-blur="fireFieldEvent('accountNumber')"
                               name="acctNum"
                               class="form-control"
                               ng-maxlength="14"
                               ng-pattern="onlyNumbersPattern"
                               required />

                        <p class="help-block" ng-show="detailsFormSubmitted && details.acctNum.$error.required">
                            <i class="glyphicon glyphicon-remove-circle btn-glyphicon"></i>  Account number is required
                        </p>
                        <p class="help-block" ng-show="detailsFormSubmitted && details.acctNum.$invalid && !details.acctNum.$error.required">
                            <i class="glyphicon glyphicon-remove-circle btn-glyphicon"></i>  Please enter a valid Account Number
                        </p>
                    </div>
                </div>

                    <div class="form-group"
                         ng-if="DisplayPaypal()"
                         ng-class="{'has-error':detailsFormSubmitted && details.paypal.$invalid}">

                        <label for="paypalEmail">Paypal Email</label>
                        <input type="email"
                               id="paypalEmail"
                               ng-readonly="customer.paypalSameAsPersonal == true"
                               ng-model="customer.paypalEmail"
                               ng-blur="fireFieldEvent('paypalEmail')"
                               name="paypal"
                               class="form-control"
                               placeholder="example@gmail.com"
                               required />

                        <input type="checkbox"
                               id="sameAsEmail"
                               name="sameAsPersonal"
                               ng-model="customer.paypalSameAsPersonal"
                               ng-click="updatePaypalEmail($event)"
                               value="true">Same as personal email

                        <p class="help-block" ng-show="detailsFormSubmitted && details.paypal.$error.required">
                            <i class="glyphicon glyphicon-remove-circle btn-glyphicon"></i>  Paypal Email is required
                        </p>
                        <p class="help-block" ng-show="detailsFormSubmitted && details.paypal.$error.email">
                            <i class="glyphicon glyphicon-remove-circle btn-glyphicon"></i>  Please enter a valid email
                        </p>
                    </div>

                    <h3>Postage Options</h3>
                    <div class="form-group">
                        <div class="btn-group btn-radio">
                            <button class="btn btn-default postage-btn"
                                    type="button"
                                    ng-repeat="postageMethod in postageMethods"
                                    ng-model="quote.PostageMethod"
                                    btn-radio="postageMethod"
                                    ng-required="!quote.PostageMethodId">
                                {{postageMethod.PostageMethodName}}
                            </button>
                        </div>

                    </div>
                    <div class="form-group">
                        <p class="postageOptionsText" ng-if="quote.PostageMethod.Description">{{quote.PostageMethod.Description}}</p>
                    </div>
                </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-6 col-md-push-3" ng-class="{'has-error':detailsFormSubmitted && details.$invalid}">
                    <button class="btn btn-default next-btn"
                            type="submit" ng-click="SaveQuote(details,customer, quote)"
                            analytics-on="click"
                            analytics-category="QuoteProcess"
                            analytics-event="GoToSummaryBtnClick">
                        Go To Summary  <span class="glyphicon glyphicon-chevron-right btn-glyphicon"></span>
                    </button>
                    <p class="help-block centre" ng-show="detailsFormSubmitted && details.$invalid">
                        <i class="glyphicon glyphicon-remove-circle btn-glyphicon"></i>  Please fix validation errors
                    </p>
                </div>
                <div class="col-md-3 col-md-pull-9">
                    <button class="btn btn-default back-btn"
                            type="button" ng-click="goToTab('Quote', 0)"
                            analytics-on="click"
                            analytics-category="QuoteProcess"
                            analytics-event="GoBackToReviewBtnClick">
                        <span class="glyphicon glyphicon-chevron-left btn-glyphicon"></span>   Go Back
                    </button>
                </div>
            </div>
        </div>
</form>

