
//////////////////////////////////        Phone Models        /////////////////////////////////////

.phone-model-image {
    width: 70px;
    padding-bottom: 10px;
}

@media screen and (max-width: 480px) {
    .col-mobile {
        padding: 0!important;

        p {
            font-size: 12px;
        }
    }

    .col-phone-mobile {
        padding: 15px !important;
    }
}
