
//////////////////////////////////        Phone Models        /////////////////////////////////////

.phone-model-image {
    width: 70px;
    padding-bottom: 10px;
}

@media screen and (max-width: 480px) {
    .col-mobile {
        padding: 0!important;

        p {
            font-size: 12px;
        }
    }

    .col-phone-mobile {
        padding: 15px !important;
    }
}

.btn-admin {
    width: 100%;
    background-color: rgba(20, 125, 222, 0.83) !important;
    color: #fff!important;
    font-weight: 700!important;
}

.admin-heading {
    padding-bottom: 0!important;
    color: rgba(74, 177, 108, 0.91)!important;
  
}

.create {
    a {
        text-decoration: none!important;
        font-size: 16px;
        color: #333;
        font-weight: 600;
    }
    a:hover {
        color: rgba(74, 177, 108, 0.91);
    }
}

.admin-back {
     a {
        text-decoration: none!important;
        font-size: 16px;
        color: #333;
        font-weight: 600;
    }
    a:hover {
        color: rgba(74, 177, 108, 0.91);
    }
}

.checklist {
    .panel-heading {
          background-color: rgba(74, 177, 108, 0.22) !important;
    }
}

.btn-radio {
    display: block !important;
    min-height: 30px;

    .checklist-btn {
        width: 50%;
    }

     .active {
        background-color: rgba(74, 177, 108, 0.91) !important;
        color: #fff!important;
    }
}