html,
body {
  height: 100%;
}
body {
  padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
/* styles for validation helpers */
.field-validation-error {
  color: #b94a48;
}
.field-validation-valid {
  display: none;
}
input.input-validation-error {
  border: 1px solid #b94a48;
}
input[type="checkbox"].input-validation-error {
  border: 0 none;
}
.validation-summary-errors {
  color: #b94a48;
}
.validation-summary-valid {
  display: none;
}
.quoteSection .nav-tabs > li.active > a,
.quoteSection .nav-tabs > li.active > a:hover,
.quoteSection .nav-tabs > li.active > a:focus {
  font-weight: 500;
  background-color: rgba(47, 79, 79, 0.2) !important;
  border: 1px solid #ccc;
  border-top: 1px solid rgba(47, 79, 79, 0.2);
}
.quoteSection .nav-tabs > li > a {
  color: #222222!important;
  border-radius: 0!important;
}
#main {
  min-height: 100%;
  overflow: auto;
  padding-bottom: 100px;
  /* this needs to be bigger than footer height*/
}
footer {
  color: #fff;
  background-color: darkslategray;
  border-top: 2px solid rgba(47, 79, 79, 0.4) !important;
  position: relative;
  margin-top: -50px;
  /* negative value of footer height */
  height: 120px;
  clear: both;
  padding: 20px 0;
}
footer .logo {
  background: url('Images/money.png') darkslategray top no-repeat;
  padding: 30px;
  background-size: contain;
}
.pageHeading {
  font-weight: 500;
  text-align: center;
}
.pageHeading h2 {
  display: inline-block;
  margin-top: 20px;
}
.contactForm div {
  margin: 15px 0;
}
.glyphicon {
  top: 0!important;
}
.btn-section {
  margin-top: 10px;
}
.btn-section .btn {
  background-color: #222222;
  color: #fff;
}
.conditionTypes {
  margin: 10px 15px;
}
.phoneSection {
  margin: 20px;
}
.centre {
  text-align: center!important;
}
.mainheading {
  color: #222222;
  text-align: center;
}
.phoneDiv {
  margin-top: 15px;
}
.phoneDiv table,
.phoneDiv th,
.phoneDiv td {
  text-align: center;
}
.phoneDiv .table-bordered > tbody > tr > td,
.phoneDiv .table-bordered > thead > tr > th,
.phoneDiv .table-bordered > tfoot > tr > th {
  border: none;
  border-bottom: 1px solid #ddd;
}
.tab-content > .active {
  background-color: #fff;
  padding: 10px;
}
.tabset {
  border: 2px solid #222;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.removeIcon {
  text-decoration: none;
  list-style: none;
}
.removeIcon .glyphicon {
  margin: 2px;
}
.detailsTab {
  padding: 15px;
}
.next-btn {
  background-color: #222!important;
  color: #ffffff!important;
  font-weight: bold!important;
}
.next-btn:hover {
  background-color: #fff!important;
  color: #222!important;
  font-weight: bold!important;
}
.moneyGreen {
  color: #009933;
  font-weight: 700;
}
.introText {
  padding-top: 10px;
}
h1 {
  font-family: 'Marcellus SC', serif !important;
  padding-bottom: 15px;
}
h3,
h4,
p {
  font-family: 'Roboto Slab', serif !important;
}
.quoteHeading {
  padding-left: 10px;
  background-color: darkslategray;
  padding: 10px;
  margin-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  border: 2px solid #222;
  border-bottom: none;
}
.salesQuip {
  padding-left: 15%;
  font-size: 18px;
}
.summarySection {
  padding: 15px;
  /* border: 1px solid #222; */
}
.summarySection p {
  padding-left: 25px;
  color: #555;
}
.spinner {
  text-align: center;
}
.spinner div {
  opacity: 0.5;
}
.spinner .fa-spin {
  font-size: 70px;
  position: absolute;
  top: 40%;
  left: 46%;
  z-index: 1;
  opacity: 0.8;
}
.mainLogo {
  float: left;
}
.navLogo img {
  margin-top: -31% !important;
}
.navbar-default {
  background-color: #fff!important;
  border: none!important;
  color: #333;
}
.navbar {
  border-radius: 0!important;
  font-family: 'Roboto Slab', serif !important;
  opacity: 0.8;
  overflow: visible;
  z-index: 100;
  position: relative;
}
.navbar .navbar-collapse {
  border-top: 1px solid rgba(47, 79, 79, 0.4) !important;
  border-bottom: 1px solid rgba(47, 79, 79, 0.4) !important;
}
.navbar .navbar-collapse .navbar-form {
  border: none!important;
  opacity: 1;
}
.navbar-default .navbar-nav {
  width: 75%;
}
.navbar-default .navbar-nav li {
  margin: 0 7%;
}
.navbar-default .navbar-nav a {
  color: #333!important;
}
.navbar-default .navbar-nav a:hover {
  background-color: darkslategray;
  opacity: 0.8;
}
button.navbar-toggle {
  background-color: darkslategray;
}
.top-banner {
  padding: 4px;
  background-color: darkslategray;
  color: #fff;
}
.top-banner i {
  padding: 0 8px;
}
.faq-text p {
  padding: 10px 20px;
}
.faq-text b {
  color: darkslategray;
}
.footer-text {
  padding: 5px;
}
.footer-text a {
  color: #fff;
  text-decoration: none!important;
}
.footer-text a:hover {
  color: #ccc;
}
.contact-details {
  padding: 10px 0;
}
.contact-details .fa {
  color: darkslategray;
  font-size: large;
}
.info-box {
  padding: 20px;
  text-align: center;
}
.info-box h4 {
  color: darkslategray;
}
.negative-index {
  position: relative;
  z-index: -1;
}
.phoneProcess {
  background-image: url('../Content/Images/headerImg.jpg');
  padding: 80px 0;
  margin: 10px 0 20px 0;
  z-index: -1;
  position: relative;
}
.phone-for-the-ladies {
  background-image: url('../Content/Images/Smartphone_cameras_7.jpg');
  padding: 60px 0;
  background-position: bottom;
  margin: 20px 0;
}
.phone-saying {
  margin: 30px 0;
  opacity: 0.7;
}
.quoteTable {
  cursor: pointer;
}
.navbar-brand {
  padding: 15px 15px!important;
}
h4.brand-title {
  padding: 15px 0!important;
}
/*# sourceMappingURL=Site.css.map */