<div class="col-md-12 col-mobile">
    <h1 class="col-md-12 admin-heading">
        <span class="col-md-offset-1"><i class="fa fa-mobile"></i>   Phones</span>
        <hr />
    </h1>

    <p class="create">
        <a href="/Admin/CreatePhone"><i class="fa fa-plus"></i> Create New</a>
    </p>

    <div class="row">
        <div class="col-md-2">
            <b>Phone Id</b>
            <input type="text"
                   id="PhoneId"
                   ng-model="phoneIndexViewModel.PhoneId"
                   class="form-control"
                   ng-enter="updatePage(phoneIndexViewModel)" />
        </div>
        <div class="col-md-2">
            <b>Phone Make</b>
            <select ng-model="phoneIndexViewModel.PhoneMakeId"
                    id="PhoneMakeId"
                    name="PhoneMakeId"
                    ng-options="item.ID as item.Name for item in phoneIndexViewModel.PhoneMakes"
                    class="form-control"></select>
        </div>
        <div class="col-md-2">
            <b>Phone Model</b>
            <select ng-model="phoneIndexViewModel.PhoneModelId"
                    id="PhoneModelId"
                    name="PhoneModelId"
                    ng-options="item.ID as item.Name for item in phoneIndexViewModel.PhoneModels"
                    class="form-control"></select>
        </div>
        <div class="col-md-2">
            <b>Phone Status</b>
            <select ng-model="phoneIndexViewModel.PhoneStatusId"
                    id="PhoneStatusId"
                    name="PhoneStatusId"
                    ng-options="item.ID as item.Name for item in phoneIndexViewModel.PhoneStatuses"
                    class="form-control"></select>
        </div>
        <div class="col-md-2">
            <br />
            <button type="submit"
                   value="Search"
                   class="btn btn-default btn-admin"
                   ng-click="updatePage(phoneIndexViewModel)"><i class="fa fa-search"></i>   Search</button>
        </div>
    </div>
    <br />
    <span ng-show="spinner"><i class="loading fa fa-cog fa-spin"></i></span>
    <div ng-class="{'content-loading':spinner}">
        <div class="row centre">
            <table class="table quoteTable table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            <p>ID</p>
                        </th>
                        <th class="hidden-xs">
                            <p>Phone Make</p>
                        </th>
                        <th>
                            <p>Phone Model</p>
                        </th>
                        <th class="hidden-xs">
                            <p>Phone Condition</p>
                        </th>
                        <th>
                            <p>Phone Status</p>
                        </th>
                        <th class="hidden-xs">
                            <p>Purchase Amount</p>
                        </th>
                        <th class="hidden-xs">
                            <p>Sale Amount</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-click="showPhone(phone.Id)" ng-repeat="phone in phoneIndexViewModel.Phones">
                        <td>
                            <p>{{phone.Id}}</p>
                        </td>
                        <td class="hidden-xs">
                            <p>{{phone.PhoneMake}}</p>
                        </td>
                        <td>
                            <p>{{phone.PhoneModel}}</p>
                        </td>
                        <td class="hidden-xs">
                            <p>{{phone.PhoneCondition}}</p>
                        </td>
                        <td>
                            <p>{{phone.PhoneStatus}}</p>
                        </td>
                        <td class="hidden-xs">
                            <p>{{phone.PurchaseAmount}}</p>
                        </td>
                        <td class="hidden-xs">
                            <p>{{phone.SaleAmount}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination total-items="phoneIndexViewModel.TotalPhones"
                        ng-model="phoneIndexViewModel.PageNumber"
                        ng-change="updatePage(phoneIndexViewModel)"
                        items-per-page="phoneIndexViewModel.PageSize"
                        direction-links="true"
                        boundary-links="true"
                        previous-text="&lsaquo;"
                        next-text="&rsaquo;"
                        first-text="&laquo;" 
                        last-text="&raquo;"
                        max-size="4">
            </pagination>
        </div>
    </div>
</div>